extends base.pug

block body

  .content
    .section#useridentity
      i.fas.fa-user(aria-hidden='true')
      h2.
        Your Identity
      div
        h4.
          Email Address
        p. 
          #{user.preferred_username}
        h4.
          First Name
        p. 
          #{user.given_name}
        h4. 
          Last Name
        p.
          #{user.family_name}

    .section#attestationToken
      i.fas.fa-check-circle(aria-hidden='true')
      h2.
        Your ID Token
      div#tokenContainer
        div#tokenExplainer
          p.
            <br/>
            Subject<br/>
            Name<br/>
            Version<br/>
            Issuer<br/>
            Audience<br/>
            Issued At<br/>
            Expires<br/>
            JWT ID<br/>
            Authentication Methods References
            <br/><br/><br/><br/>
            <br/>
            IDP<br/>
            Nonce<br/>
            Authentication Time<br/>
            Access Token Hash Value<br/>
        div#token
          p#tokenValue
    
    .section#attestation
      a(href="/attestation")
        button(type="button") ATTESTATION

    .section#logout
      a(href="/logout")
        button(type="button") LOGOUT

    script.
      var oDiv = document.getElementById("tokenValue");
      oDiv.innerText = JSON.stringify(parseJwt('#{token}'),null,4)

      function parseJwt(token) {
        if (token != null) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace('-', '+').replace('_', '/');
            return JSON.parse(window.atob(base64));
        } else {
            logEvent('event occured: a invalid or empty token was parsed',5);
        }
      };