extends base.pug

block body

  .content
    .section#useridentity
      i.fas.fa-user(aria-hidden='true')
      h2.
        Your Identity
      div
        h4.
          Email Address
        p. 
          #{user.preferred_username}
        h4.
          First Name
        p. 
          #{user.given_name}
        h4. 
          Last Name
        p.
          #{user.family_name}
    
    .section#attestation
      a(href="/attestation")
        button(type="button") ATTESTATION

    .section#logout
      a(href="/logout")
        button(type="button") LOGOUT
