extends base.pug

block body

  .content
    .section#preamble
      p.
        This demonstration highlights the OIDC attestation behaviour of Okta.
        <br/>
        This feature allows for the enforcement and inspection of MFA for critical actions in your custom applications.

    .section#flags
      i.fas.fa-flag(aria-hidden='true')
      h2.
        Flags
      p.
        The following feature flags are required to be enabled on your tenant for this demonstration:
      ul#flaglist
        li.
          MFA_ATTESTATION

    .section#nextAction
      a(href="/login")
        button(type="button") LOGIN
